{% extends 'rango/base.html' %}

{% block title %}Add a New Page{% endblock %}

{% block body_block %}
    {% if category %}
        {% csrf_token %}
        <form role="form" id="page_form" method="post" action="{% url 'add_page' category.slug %}">
            <h2 class="form-signing-heading">Add a new Page to {{ category.name }}</h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <p>{{ field.help_text }}<br/>
                {{ field }}<br/>
                {{ field.errors }}</p>
            {% endfor %}
            
            <button class="btn btn-primary" type="submit" name="submit">Add a Page</button>
        </form>
    {% else %}
        Category <strong>{{ name_slug }}</strong> does not exist.<br/>
    {% endif %}
{% endblock %}