<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                No pages currently in this category.
            {% endif %}<br/>
            
            {% if user.is_authenticated %}
                <a href="/rango/category/{{ name_slug }}/add_page">Add a new page</a><br/>
            {% else %}
                <a href="/rango/login">Login to add new pages</a><br/>
            {% endif %}

        {% else %}
            The specified category <i>{{ name_slug }}</i> does not exist!<br/>
        {% endif %}
        
        <a href="/rango">Back</a>
    </body>
</html>