{% extends 'rango/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}
    <p>
        <strong>Most favourite categories:</strong><br/>
        {%if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            There are no categories to show.<br/>
        {% endif %}
    </p>
    
    <p>
        <strong>Top 5 most viewed pages:</strong><br/>
        {%if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            There are no pages to display.
        {% endif %}
    </p>
{% endblock %}