{% extends 'rango/base.html' %}

{% block title %}Change your password{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <form id="password_change" role="form" method="post" action="{% url 'password_change' %}">
            <h2 class="form-signing-heading">Change your password</h2>
            <hr>
            {% if error_message %}
                {{ error_message }}<br/>
            {% else %}
                {% if success %}{{success}}<br/>{% endif %}
            {% endif %}
            {% csrf_token %}
            Your current password: <input type="password" name="current_password"><br/>
            Enter a new password:  <input type="password" name="new_password"><br/>
            New password (again):  <input type="password" name="repeat_password"><br/>
            <button class="btn btn-primary" type="submit" name="change_password">Change</button>
        </form>
    {% endif %}
{% endblock %}